<section>

    <article>
        <header>
            <h2><b>Nome:</b> {{clientes.nome_cliente}}</h2>
        </header>
        <p><b>ID:</b> {{clientes.id_cliente}}</p>
        <p><b>Endereço:</b> {{clientes.ender_cliente}}</p>
        <p><b>Bairro:</b> {{clientes.bairro_cliente}}</p>
        <p><b>Cidade:</b> {{clientes.cidade_cliente}}</p>
        <p><b>Cep:</b> {{clientes.cep_cliente}}</p>
        <p><b>UF:</b> {{clientes.uf_cliente}}</p>
        <p><b>Telefone:</b> {{clientes.telefone_cliente}}</p>
        <p><b>Celular:</b> {{clientes.celular_cliente}}</p>
        <br/>
        <hr>
    </article>
</section>