<h1>Alterar Cliente</h1>

<form method="post" action="?pagina=gerenciar&metodo=update">
    Nome: <input type="text" name="nomeform" value="{{nome}}">
    <br>
    <br>
    Endereço: <input type="text" name="enderform" value="{{endereco}}">
    <br>
    <br>
    Bairro: <input type="text" name="bairroform" value="{{bairro}}">
    <br>
    <br>
    Cidade: <input type="text" name="cidadeform" value="{{cidade}}">
    <br>
    <br>
    CEP: <input type="text" name="cepform" value="{{cep}}">
    <br>
    <br>
    UF: <input type="text" name="ufform" value="{{uf}}">
    <br>
    <br>
    Telefone: <input type="text" name="telform" value="{{telefone}}">
    <br>
    <br>
    Celular: <input type="text" name="celform" value="{{celular}}">
    <br>
    <br>
    <input type="hidden" name="id" value="{{id}}">
    <input type="submit" value="Alterar">
</form>